.tooltip {
  position: absolute;
  z-index: 500;

  background: #fcd783;
  box-shadow: 0 0 0 2px #f375b5, 0 0 0 6px #fcd783;

  padding: 0.5rem;
  color: #f375b5;
  max-width: 180px;
  border-radius: 2px;

  font-size: 0.875rem;
  font-weight: bolder;
}